<div class="relative min-h-screen bg-cover bg-center"
  style="background-image: url('https://i.pinimg.com/564x/fe/04/99/fe049923f2a643ee6f345bdce1b60896.jpg');">
  <div class="absolute inset-0 bg-black opacity-60"></div>
  <div class="relative flex flex-col items-center justify-center min-h-screen p-6 text-white text-center space-y-6">
    <h4 class="text-5xl font-extrabold">
      Bienvenido a {{ title }}!
    </h4>

    <div class="space-y-4">
      <p *ngIf="userAddress; else connectTemplate" class="text-xl">
        Dirección de Wallet: <span class="font-semibold">{{ userAddress }}</span>
      </p>
      <ng-template #connectTemplate>
        <p class="text-xl">Conéctate a Metamask para ver tu dirección de wallet.</p>
      </ng-template>
    </div>

    <div class="space-y-4">
      <button (click)="connectWallet()" *ngIf="!userAddress"
        class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 transition">
        Conectar Metamask
      </button>

      <button (click)="disconnectWallet()" *ngIf="userAddress"
        class="bg-red-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-red-700 transition">
        Desconectar Metamask
      </button>
    </div>
  </div>
</div>